@page "/chatAdmin"

<h3>Chat ADMIN</h3>
<div class="admin-chatcount">
    <label>Chat counts:</label>
    <InputNumber @bind-Value="ChatCount" />
</div>
<div class="admin-chatcomponents">
    @for (int i = 0; i < ChatCount; i++)
    {
        <div class="component">
            <ChatWebApplication.Client.Components.ChatCompoment IsAdmin=true />
        </div>
    }
</div>
@code {
    public int ChatCount { get; set; } = 1;
}