@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<p>
    Welcome to example of chatting app using SignalR.<br />
    Try to open client and server in the different windows.
</p>

<p>
    Client cannot write any text without changing username first and he is not able to change name after it.<br />
    This is not applied for admins.<br />
    Client is not able to see additional messages (like changing name information or connecting another user), while admin will be able to see it.
</p>

<p>
    Closing page mean lost messages from current page.<br />
    On the other active pages messages will stay.
</p>